/* cutive-mono-latin-ext-400-normal*/
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(3b261e3b4085116a78a2b66766353d95.woff2) format('woff2'), url(5b3b5bacfda3b5803f991989b958d06a.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* cutive-mono-latin-400-normal*/
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(7b77dc1bbf6ed398f70b7e04b497b5d3.woff2) format('woff2'), url(5b3b5bacfda3b5803f991989b958d06a.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* roboto-latin-400-normal*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'), url(176f8f5bd5f02b3abfcf894955d7e919.woff2) format('woff2'), url(49ae34d4cc6b98c00c69ab4c41de3e0c.woff) format('woff');
  
}

/* roboto-latin-500-normal*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium'),
    local('Roboto-Medium'), url(f5b74d7ffcdf85b9dd60130fa0b2c087.woff2) format('woff2'), url(cea99d3e3e13a3a599a015c29f1046d0.woff) format('woff');
  
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}table{border-collapse:collapse;border-spacing:0}

html,body{height:100%}body{color:#000;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif;display:flex;flex-direction:column}a{color:blue;text-underline-offset:3px}a:hover{color:#0000cd}h1,h2,h3,h4,h5,h6{font-family:"Cutive Mono","SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace}h1{font-size:2rem}h2{font-size:1.3rem}h3{font-size:1rem}h3+*{margin-top:8px}h4{font-size:.85rem}h4+*{margin-top:8px}strong{font-weight:bold}.header{border-bottom:1px dashed #eee;padding:32px 16px}.header h2{color:#666;margin-top:8px}.header nav{font-size:.8rem;margin-top:8px}.header nav a{margin-right:8px}.content{flex:1 0 auto;line-height:1.5;padding:32px 16px}.footer{border-top:1px dashed #eee;font-size:.8rem;flex-shrink:0;padding:32px 16px;display:flex;justify-content:space-between}@media only screen and (max-width: 767px){.footer{display:flex;flex-direction:column;align-items:center;justify-content:center}}.footer__links>a{margin-right:16px}@media only screen and (max-width: 767px){.footer__links>a{padding:16px 16px;margin-left:8px;margin-right:8px}}.footer__credits a{margin-left:4px;padding:16px 0;padding-right:16px}@media only screen and (max-width: 767px){.footer__credits{margin-top:40px}}pre[class*="language-"].syntax-highlight-container{width:50vw;background-color:#fff;border:1px solid #eee}@media only screen and (max-width: 767px){pre[class*="language-"].syntax-highlight-container{width:auto}}@media only screen and (max-width: 767px) and (orientation: landscape){pre[class*="language-"].syntax-highlight-container{width:auto}}hr{border:none;height:1px;margin:8px 0}hr.hr--medium{margin:16px 0}hr.hr--large{margin:24px 0}.table{display:block;max-width:75vw;overflow-x:auto;border-spacing:0;border-collapse:collapse}@media only screen and (max-width: 767px){.table{width:100%;max-width:unset}}.table--striped tbody>tr:nth-child(even){background-color:#f5f5f5}.table thead th,.table tbody td{border:1px solid #eee;padding:8px 16px}.table thead>tr>th{font-weight:500}.button{display:inline-block;text-decoration:none;background:#ccc;color:#000;font-family:sans-serif;font-size:1rem;cursor:pointer;text-align:center;border-width:1px;border-style:solid;border-color:#ffffff #808080 #808080 #ffffff;outline:1px solid #666;transition:background 250ms ease-in-out, transform 150ms ease;-webkit-appearance:none;-moz-appearance:none;margin:0;padding:8px 16px}.button:hover,.button:focus{background:#c0c0c0}.button:focus{outline-style:dotted}.button:active{transform:scale(0.99)}.monospace{font-family:"Cutive Mono","SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace}.ul:not(.ul--condensed) li:not(:last-child){margin-bottom:8px}.ul--margin-left li{margin-left:24px}.ul--margin-top{margin-top:8px}.ul--condensed li{margin-top:0px;margin-bottom:0px}.ul--square{list-style:square}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	/* This background color was intended by the author of this theme. */
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

