@import "variables";
@import "mixins";

.footer {
  border-top: 1px dashed $border-color;
  font-size: $footer-font-size;
  flex-shrink: 0;

  @include padding(4, 2);
  @include flex($justify-content: space-between);

  @media #{$media-mobile} {
    @include flex-column-centered();
  }

  &__links {
    & > a {
      &::not(:last-of-type) {
        @include margin-right(2);
      }

      @media #{$media-mobile} {
        @include padding(2, 2);
      }
    }
  }

  &__credits {
    a {
      @include margin-left(0.5);
      @include padding-vertical(2);
      @include padding-right(2);
    }

    @media #{$media-mobile} {
      @include margin-top(5);
    }
  }
}
