@import "variables";
@import "mixins";

.header {
  border-bottom: 1px dashed $border-color;

  @include padding(4, 2);

  h2 {
    color: $body-color2;

    @include margin-top(1);
  }

  nav {
    font-size: $nav-font-size;

    @include margin-top(1);

    a {
      @include margin-right(1);
    }
  }
}
