$font-size: 14px;
$heading-font-family: 'Roboto', 'sans-serif';
$body-font-family: 'Open Sans', 'sans-serif';

$color: #212121;
$link-color: #FF5722;

$header-background-color: #3F51B5;

$header-height: 40px;
$header-padding: 10px 30px;

$footer-height: 30px;
$footer-padding: 10px 30px;
