$font-size: 14px;
$heading-font-family: 'Roboto', 'sans-serif';
$body-font-family: 'Open Sans', 'sans-serif';

$color: #666;

$header-height: 40px;
$header-padding: 20px 10px;

$footer-height: 30px;
$footer-padding: 10px;
