@import './_variables.scss';

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: $body-font-family;
    font-size: $font-size;
    color: $color;

    h1, h2, h3, h4, h5, h6 {
        font-family: $heading-font-family;
        font-weight: normal;
        margin: 0;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}