@import './_variables.scss';

$border-color: #ddd;

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    padding: $footer-padding;
    border-top: 1px solid $border-color;
}