@import './_variables.scss';

$heading-color: #fff;
$sub-heading-color: #C5CAE9;

header {
    display: flex;
    justify-content: space-between;
    height: $header-height;
    padding: $header-padding;
    background-color: $header-background-color;

    .headings-container {

        display: flex;
        align-items: baseline;

        h1 {
            color: $heading-color;
            line-height: $header-height;
            font-size: 2em;
        }

        h2 {
            color: $sub-heading-color;
            font-size: 1.2em;
            margin-left: 15px;
        }
    }

    .badges-container {
        display: flex;
        align-items: baseline;
        line-height: $header-height;

        .github-badge {
            min-width: 50px;
            margin-left: 10px;
        }
    }

   
}